@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-kanit);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Kanit', Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
}

h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.5rem; /* 24px */
}

p {
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.75;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
  }

  .text-shadow-lg {
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-white {
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}